
{% extends 'base.html' %}
{% block head %}
    <title>Just Post IT</title>
{% endblock %}

{% block body %}
    <div id="container">
  {% block top-header %}<div id="header"><h1><a href="">Just Post IT</a></h1></div> {% endblock %}
   {% block navigation %}
  <div id="navigation">
   {% if user.is_authenticated %}
      <p><h3>Добро пожаловать, {{ user.get_username }}</h3></p>
       <ul>
        <li><a href="{% url 'home' %}">Мои посты</a></li>
        <li><a href="">Лента</a></li>
        <li><a href="{% url 'posts' %}">Все записи</a></li>
        <li><a href="{% url 'logout' %}">Выйти из аккаунта</a></li>
    </ul>
   {% endif %}
  </div>
    {% endblock %}

    {% block content %}
  <div id="content">
    {% block inputForm %}
        <div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field }}
                    </p>
                {% endfor %}
                {% if form.errors %}
                    <p style="color:red">
                        Ошибка добавления поста
                    </p>
                {% endif %}
                <center><button type="submit" class="myButton">Добавить пост</button></center><br>
            </form>
        </div>
     {% endblock %}

    <div>
        {% if posts.exists %}
            {% for post in posts %}
                <div class="post_container">
                    <h3><a href="">{{ post.title }}</a></h3>
                    <div class="svg_container">
                        <div class="outside">
                            <svg width="20" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                            </svg>
                            <a href="{% url 'author' post.author.user.get_username %}" >{{post.author.user.username }}</a>
                        </div>
                    </div>
                    <div class="svg_container">
                        <div class="outside">
                            <svg width="20" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm4.2 14.2L11 13V7h1.5v5.2l4.5 2.7-.8 1.3z"></path>
                            </svg>
                            <a href="" >{{post.pub_date }}</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    </div>

  </div>
    {%  endblock %}

    {% block counters %}
  <div id="extra">
    <p><strong>More stuff here.</strong></p>
    <p>Подписок: 45</p>
    <p>Подписчиков: 27</p>
  </div>
{% endblock %}
</div>
    <div id="footer">
    <p>Footer</p>
  </div>
{% endblock %}
